html{
    color:black;
    background-color: grey;
}

body{
    display:flex;
    flex-direction: column;

}

section{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1vw;
    padding: 1vw;
    margin:auto;
    color: black;
    background-color: #0BB8D4;
    border-radius: 0.5vw;
    border: 2px solid black;
}

h1{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end:2;
    margin:0vw;
    font-size: calc(0.6em + 1vw);
}

label{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end:3;
}

input[type="text"]{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end:4;
    color:black;
    background-color: white;
    font-size: calc(1em + 1vw);
    padding: .5vw;
    text-align: right;
}

input[type="button"]{
    color:black;
    background-color: #09AD6C;
    border-radius: 0.5vw;
    padding:1vw;
}

input[type="button"]:nth-child(22){
    grid-column-start: 4;
    grid-column-end:5;
    grid-row-start:7;
    grid-row-end:9;
}

input[type="button"]:nth-child(9),
input[type="button"]:nth-child(10),
input[type="button"]:nth-child(11),
input[type="button"]:nth-child(14),
input[type="button"]:nth-child(15),
input[type="button"]:nth-child(16),
input[type="button"]:nth-child(19),
input[type="button"]:nth-child(20),
input[type="button"]:nth-child(21),
input[type="button"]:nth-child(24),
input[type="button"]:nth-child(25),
input[type="button"]:nth-child(26) {
    background-color: white;
    color:black;
}

input[type="button"]:hover{
    background-color:rgb(65, 65, 65);
    color:white;
}

