/* Especificidad=1  a=0 b=0 c=1*/
body {
       display: flex;
       flex-direction: column;
       padding: 5vw;
}

/* Especificidad=11  a=0 b=1 c=1*/
section:nth-child(3) {
       margin: 1vw;
       width: auto;
       height: 40vh;
       overflow: hidden;
       float: left;
       border: thin solid #333;
}