/* Datos personales: Eloy Alfredo Schmidt Rodríguez - UO271588 */

/* a=0 b=0 c=1 -> Especificidad= 1*/
header {
    display: flex;
    justify-content: center;
    align-content: center;
}

/* a=0 b=0 c=1 -> Especificidad= 1*/
nav {
    display: flex;
    align-content: center;
    justify-content: flex-start;
}

/* a=0 b=0 c=1 -> Especificidad= 1*/
main {
    display: grid;
    grid-template-areas:
    'section1'
    'section2';
    grid-template-columns: 1fr;

}

@media(min-width: 800px){
    /* a=0 b=0 c=1 -> Especificidad= 1*/
    main {
        grid-template-areas:
        'section1 section2';
        grid-template-columns: 1fr 1fr;
    }
}

/* a=0 b=0 c=2 -> Especificidad= 2*/
main > section:nth-child(1) {
    grid-area: section1
}

/* a=0 b=0 c=2 -> Especificidad= 2*/
main > section:nth-child(2) {
    grid-area: section2
}

/* a=0 b=0 c=2 -> Especificidad= 2*/
main>section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 0;
}
